@font-face {
  font-family: JotSpray;
  src: url("fonts/JotSpray.ttf") format("truetype");
}

@font-face {
  font-family: Qahiri;
  src: url("fonts/Qahiri-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  background: gray;
  margin: 0;
  padding: 0;
  cursor: none;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "start b c"
    "storm b ender"
    "x b end";
  background-color: white;
  justify-items: center;
  grid-template-columns: fit-content(30%) fit-content(40%) fit-content(30%);
}

img {
  grid-area: b;
  object-fit: scale-down;
  width: 100%;
  max-height: 100%;
}

#transitionAkali {
  display: none;
}

#start {
  grid-area: start;
}

#end {
  grid-area: end;
}

#storm {
  grid-area: storm;
  font-family: "JotSpray", sans-serif;
  text-transform: uppercase;
}

#ender {
  grid-area: ender;
  font-family: "JotSpray", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 7vw;
  color: cornflowerblue;
}

h1,
#end {
  display: none;
}

h2 {
  font-family: "Roboto", cursive;
  font-size: 3vw;
  color: rebeccapurple;
}

#cursor {
  display: none;
  position: absolute;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: transparent;
}

#transition {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: example 3s linear 1 forwards;
  display: none;
}

@keyframes example {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 10%;
    flex-grow: 1;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1,
  #end {
    display: none;
  }
  h1,
  #end {
    opacity: 0;
    display: block;
  }
}

@media screen and (orientation: portrait) and (max-height: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}
